/*Author: Dante Villarreal*/

/******* Container Styles *******/

.fluid-container {
  background-color: #eeeeee;
}

.main-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-top: 0;
}

.cards-container {
  display: flex;
  flex-flow: row;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-right: 0.7%;
  padding-left: 0.7%;
  gap: 0.7%;
}

.card1, .card2, .card3 {
  flex: 1;
  
}

.l-container {
  display: flex;
  flex-flow: wrap;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 0;
  background-image: url(images/background.png);
}

.list-header {
  flex: 100%;
  display: flex;
  padding-top: 0.5%;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: cursive;
}

.f-list, .s-list {
  flex: 1;
  padding: 0;
  margin: 0;
  text-align: center;
}

.contactpage-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5%;
  padding: 0.5%;
}

.contactpage-h1-container {
  width: 100%;
  height: 1%;
  display: flex;
  justify-content: center;
}

.contactpage-left {
  display: flex;
  flex: 0.5;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 2%;
  padding: 1.5%;
  padding-left: 0.65%;
}

.contactpage-right {
  flex: 0.5;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  padding-right: 0.48%;
  margin-top: 2%;
}

.mb-3 {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 4%;
}

.nameinputs {
  flex: 1;
  width: 100%;
}

.namelabel {
  clear: both;
  min-width: 101%;
  padding-left: 0.5%;
}

/******* Nav Styles *******/

.nav {
  display: flex;
  background-color: #535353;
  padding: 0.53%;
  padding-top: 0.49%;
  padding-right: 0.92%;
  padding-left: 0.9%;
  margin-bottom: 1%;
}

.nav-link {
  color: #ddd8d6;
}

.nav-link:hover {
  color: white;
  background-color: #6abcbd;
  transition: 0.2s;
  transform: scale(1.05);
}

.nav-link:active {
  transform: scale(0.95);
  transition: all 0.3s;
}

/******* Header Styles *******/

h1, h2 {
  font-family: cursive;
  text-align: center;
  color: #6fbbbb;
}

.contactpage-h1 {
  flex: 1;
  padding-bottom: 1%;
}

/******* Paragraph Styles *******/

.carousel-caption {
  font-family: cursive;
  
  padding-bottom: 0;
}

.aboutUs {
  padding: 10%;
  padding-top: 1%;
  padding-bottom: 0.8%;
  text-align: center;
}

/******* Icon Styles *******/

.fas {
  padding-right: 3%;
}

#map-marker {
  padding-right: 0.2%; 
  padding-bottom: 0;
}

#footer-envolope {
  padding-bottom: 0;
  padding-left: 1%;
  padding-right: 0.2%;
}

#footer-phone {
  padding-left: 1%;
  padding-right: 0.2%;
}

/******* Embeded Items Styles *******/

.smallmap {
  display: none;
}

/******* Form Styles *******/

.form-control {
  margin-bottom: 3%;
  box-shadow: 0 .1rem 0.1rem rgba(0, 0, 0, .08);
}

.form-control:focus {
  transition: all 0.15s;
  box-shadow: 0 0 0 5px rgba(125, 210, 210, 0.4);
  outline: #7dd3d3;
  border: rgb(125, 210, 210);
}

/******* Button Styles *******/

#button {
  margin-top: 3%;
  background-color: rgb(252, 250, 250);
  color: #535353;
  border: none;
  border-radius: 5px;
  padding: 1.5%;
  padding-right: 2%;
  padding-left: 2%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#button:hover {
  background-color: #7dd3d3;
  box-shadow: 0px 15px 20px rgba(125, 211, 211, 0.4);
  color: white;
  transform: translateY(-7px) scale(1.015);
}

#button:active {
  transform: scale(0.95);
}

.btn {
  color: white;
  background-color: #6fbbbb;
  border: #6fbbbb;
}

.btn:hover {
  color: white;
  background-color: #63a7a7;
}

.btn:active {
  box-shadow: 0 0 0 5px rgba(125, 210, 210, 0.4);
  border: rgb(125, 210, 210);
}

.btn::after {
  box-shadow: 0 0 0 5px rgba(125, 210, 210, 0.4);
}

.button {
  background-color: #6fbbbb;
  color: white;
  border: #6fbbbb;
  border-radius: 5px;
  padding: 1.9%;
  padding-right: 4.2%;
  padding-left: 4.2%;
  transition: all 0.3s;
  width: 37%;
  text-align: center;
}

.button:hover {
  background-color: #63a7a7;
}

.button:active {
  transition: all 0.05s;
  box-shadow: 0 0 0 5px rgba(125, 210, 210, 0.4);
}

.button:visited  {
  box-shadow: 0 0 0 5px rgba(125, 210, 210, 0.4);
}

/******* Link Styles *******/

a {
  color: white;
  text-decoration: none;
  padding: 20%;
  padding-right: 4.2%;
  padding-left: 4.2%;
}

a:hover {
  color: white;
}

/******* Footer Styles *******/

footer {
  padding: 1%;
  padding-bottom: 1%;
  background-color: #535353;
  color: #ddd8d6;
  text-align: center;
}

/*****************************/ 
/******* Media Queries *******/
/*****************************/

@media screen and (max-width: 801px) {
  .contactpage-footer {
    position: initial;
    width: initial;
  }
}

@media screen and (max-width: 755px) {
  .contactpage-container {
    flex-flow: column;
  }
}

@media screen and (max-width: 595px) {
  .nav {
    flex-flow: column;
  }

  .nav-link {
    padding: 1%;
  }

  .fas {
    display: none;
  }
}

@media screen and (max-width: 560px) {

  .nav-link:hover {
    transition: all 0.2s;
  }

  .cards-container {
    flex-flow: column;
    margin-top: 2.5%;
  }

  .card1, .card2, .card3 {
    padding-left: 2%;
    padding-right: 2%;
  }

  .l-container {
    flex-flow: column;
  }

  .s-list-spacep {
    display: none;
  }

  .contactpage-footer {
    position: initial;
    width: initial;
  }

  .contactpage-container {
    min-height: 100vh;
  }

  .contactpage-left {
    padding-left: 2.7%;
    padding-right: 2.7%;
  }

  .mediummap {
    display: none;
  }

  .smallmap {
    display: initial;
  }
}